html, body {margin: 0;padding: 0;position: relative;min-height: 100%;padding-bottom: 5rem;}
:root{font-size: 1em;}

h1, h3, h4{text-align: center;margin: .5rem}
h1{font-size: 2.5rem;}
h3{font-size: .8rem;}
h4{font-size: 1rem;}

ul {margin: 0;padding: 0;list-style: none;}
input, textarea, select { border: 1px solid #999; border-radius: .5rem;}
input{padding: .2rem 1rem;}
textarea{padding: .5rem;resize:none;}
input:focus, textarea:focus, select:focus{outline: none;}

.container {margin: auto;min-width: 1100px; max-width: 1300px; position: relative; }
.container, .MaT2 {margin-top: 2rem;}
.PaAll1 {padding: 1rem}

@media (min-width: 750px) and (max-width: 970px){
	.container {max-width: 80%;min-width: inherit;}
}

.block__list, .block__listL {padding: 1.2rem 0; margin-top: -8px; margin-left: 5px;}
.block__list_words li {padding: .5rem 2.5rem;}
.title {padding: 3px 10px; display: inline-block; position: relative; z-index: 1000;}
.Bnt {text-align: center;text-decoration: none; border-radius: .5rem;}