body{margin: 0;padding: 0;background-color:transparent}
.box{cursor: none;}
.box, #y-a, #y-f, #x-a, #x-f, span{position: absolute;}
#y-a, #y-f {width: 100%;height: 1px;top: 50%;}
#x-a, #x-f {width: 1px;height: 100%;left: 50%;}
#x-a, #y-a {background: #f00}
#x-f, #y-f {background: #fff}
#SelectCursor{position: fixed;background: rgb(167 1 1 / 40%);border-radius: 50%;z-index: -1;}