html {background:#E3E3E3;}
html, body {color: #464637}
h4, h3{color: #9a938d}
a{color: #5F9EDF}
a {color: #7691ad;text-decoration: none;}
.container {text-align: center;}
em{color: #aaa}
.block__list, .block__listL {background-color: #fff;}
.block__list_words li {background-color: #fff;}
.title {color: #fff;background-color: #a38a72;}
