html {background:#E3E3E3;}
html, body {color: #464637}

h4{color: #9a938d}
a{color: #5F9EDF}


input{width: 69%}
textarea{width: 88%;}
input:focus, textarea:focus, select:focus{border-color: #5F9EDF}
select{min-width: 15rem;padding: .2rem;}
pre{height: 20rem; overflow: auto;margin: 0}
em{color: #aaa}

#foo .sortable-drag {background: #daf4ff;}


.block__listL {max-width: 360px;}
.block__list, .block__listL {background-color: #fff;}
.block__list_words li {background-color: #fff;}
.title {color: #fff;background-color: #a38a72;}

.Cmove li { cursor: move; }
.Cmove i{float: right;cursor: pointer;}
.Cmove i::after{content: "\2716";font: bold 1rem Sans-Serif;margin-left: .5rem;color: #5F9EDF;}
.Cmove textarea{width: 100%;margin-top: .5rem}

.Bnt {display: block; background: #a38a72; color: #fff;}
.Bnt:hover{background: #b9a18a}
.T2.Bnt {display: inline-block; padding: 0 1rem;margin-left:1rem}

#echo {float: left;color: #5F9EDF}
.foot a {font-weight: bold;}